<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>
            PilaEncuestas
        </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    </head>
<body>
   <!-- Barra_de_navegación -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-text pull-left" th:href="@{/pila}">ENCUESTA EHPM</a>
     <a class="navbar-brand"  th:href="@{/pila}"><i class="far fa-user-circle float-right"></i></a>   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
  
      </nav>
 
  
  <!-- Contenido_de_la_página -->
    <div class="container">
<h2>Pila de Ecuestas</h2>
    <h3>Grupo:04</h3>


    <div class="card">
      <div class="card-header ">
        <div class="form-row">
          <div class="col-md-6">
            <h2>Pila de Encuestas </h2>

            </div> 
                    
          </div>
          
        </div>
        <div class="card-body">
          
          <table class="table text-center table-striped">
            <thead>
              <tr>
                <th>Identificion</th>
                <th>Ubicacion geografica</th>
                <th>Domicilio</th>
                <th>Mes</th>
                <th>Acciones</th>   
              </tr>
            </thead>
      
            <tbody>
              <tr th:each= "lista:${encuestas}">
                <td th:text=${lista.identificacion}></td>
                <td th:text=${lista.ubicacionGeografica}></td>
                <td th:text=${lista.domicilio}></td>
                <td th:text=${lista.mes}></td>
                <td> 
                <a th:href="@{/pendiente}" class="btn" role="button" style="background-color:#F7FAFA" aria-pressed="true">Habilitar</a>
   				</td>
  										     
              </tr>
            </tbody>
          </table>
        </div>
                  </div>
    </div>
    

    
  </body>
</html>  