<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registrar Usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Hojas de estilo generales -->
    <div th:replace="base/general :: hojas_de_estilo"></div>
</head>

<body>
    <!-- Barra_de_navegación -->
    <div th:replace="base/general :: navbar(~{ :: .elementos})">
        <ul class="navbar-nav mr-auto elementos">
            <!-- <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabla.html">Tabla</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="formulario.html">Formulario</a>
      </li> -->
        </ul>
    </div>
    <div class="container">

        <!-- Ruta del contendio -->
        <ol th:replace="base/general :: ruta_contenido(
      ruta=~{ :: .ruta}, ruta2=~{ :: .ruta2})">
            <!-- Ruta de la página -->
            <div class="ruta">
                <a th:href="@{/usuario/administrar}">Usuarios</a>
            </div>
            <div class="ruta2">Crear</div>
        </ol>

        <!-- Título de la pantalla -->
        <div
            th:replace="base/general :: titulo_pantalla(titulo=~{ :: .titulo}, btnPrincipal=~{ :: .btnPrincipal}, subTit=~{ :: .subTit})">
            <h2 class="titulo">Registrar Usuario</h2>
            <div class="btnPrincipal"></div>
            <h5 class="subTit"></h5>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <h5>Informacion del Usuario</h5>
                        <small class="text-danger">* Obligatorio</small>
                    </div>
                    <div class="card-body">
                        <form method="POST" id="frmUsuario" action="">                           
                            <div class="form-group">
                                <label for="miembro_id" class="col-form-label">Miembro: <span
                                        class="text-danger">*</span></label><br>

                                <!-- Buscar miembro -->                                
                                <select id="miembro_id" class="form-control selectBuscar" name="miembro_id"
                                    data-placeholder="Seleccione un miembro">                                                     
                                    <option value="{{ miembro.idMiembro }}">                                        
                                    </option>                                    
                                </select>      
                                                                                  
                            </div>
                            <div class="form-group">
                                <label for="permiso_id" class="col-form-label">Permiso: <span
                                        class="text-danger">*</span></label><br>
                                <select class="form-control col-sm-12 selectBuscar" id="permiso_id" name="permiso_id"
                                    data-placeholder="Seleccione un permiso">
                                    <option></option>
                                    <option value="{{ permiso.idPermiso }}">{{ permiso.nombre }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-dark float-right" id="btnAccionUsuario">Guardar</button>
                        <a href="#" class="btn btn-outline-dark float-right btnLimpiar"
                            onClick="btnLimpiarUsuario()">Limpiar</a>                       
                    </div>
                </form>  
                </div>
            </div>
        </div>
        <!-- Scripts generales -->
        <div th:replace="base/general :: scripts"></div>
</body>

</html>