<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>  
  <title>Administrar Encuestas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Hojas de estilo generales -->
  <div th:replace="base/general :: hojas_de_estilo"></div>
</head>

<body>
	<!-- Barra_de_navegación -->
  <div th:replace="base/general :: navbar(~{ :: .elementos})">
    <ul class="navbar-nav mr-auto elementos">
      <!-- <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabla.html">Tabla</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="formulario.html">Formulario</a>
      </li> -->
    </ul>
	</div>	

	<!-- Contenido_de_la_página -->
  <div class="container">

	 <!-- Ruta del contendio -->
    <ol th:replace="base/general :: ruta_contenido(
      ruta=~{ :: .ruta}, ruta2=~{ :: .ruta2})">
        <!-- Ruta de la página -->              
    	<div class="ruta">Encuesta</div>
		<div class="ruta2"></div>	
    </ol>

    <!-- Título de la pantalla -->
    <div th:replace="base/general :: titulo_pantalla(
      titulo=~{ :: .titulo}, btnPrincipal=~{ :: .btnPrincipal}, subTit=~{ :: .subTit}
    )">
      <h2 class="titulo">Administrar Encuesta</h2>
      <div class="btnPrincipal"></div>      
			<h5 class="subTit">Administrador</h5>     
			
      <!-- <div class="subTit"></div>  -->
      <!-- <button class="btn btn-dark btn-sm btnPrincipal"><i class="fas fa-plus"></i> Botón Principal</button> -->
		</div>
		
		<div class="row mb-4">
			<div class="col-md-12"> 	
				<div class="card">

					<div class="card-header">
						<h5>Información de Encuesta</h5>
						<small class="text-danger">* Obligatorio</small>
					</div>		  

					<div class="card-body">
						<form  method="post"> 	   			   			 
							<div class="form-row">
								<div class="form-group col-md-6" >
									<label for="codigo">Código: <span class="text-danger">*</span></label>
									<input type="hidden">											    
											<input type="text" class="form-control"  placeholder="Código" required="required">
								</div>
								<div class="form-group col-md-6" >
									<label for="nombre">Nombre: <span class="text-danger">*</span></label>
									<input type="hidden">											    
											<input type="text" class="form-control"  placeholder="Nombre" required="required">
								</div>
							<div class="form-group col-md-12">
									<label for="descripcion">Descripción: <span class="text-danger">*</span></label>					    
											<input type="text" class="form-control"  placeholder="Descripción" required="required">
							</div>
							<div class="form-group col-md-6">
			                  <label>Estado: <span class="text-danger">*</span></label>
			                  <input type="hidden">
			                  <div class="form-group">
			                    <div class="form-check form-check-inline">
			                      <input class="form-check-input" type="radio" name="estado" id="#" value="#">
			                      <label class="form-check-label" for="#">Habilitada</label>
			                    </div>
			                    <div class="form-check form-check-inline">
			                      <input class="form-check-input" type="radio" name="estado" id="#" value="#">
			                      <label class="form-check-label" for="#">Deshabilitada</label>
			                    </div>
			                  </div>
			                </div>				 					                  			  
						</div>
						</div>								  
						<div class="card-footer">
							<div class="float-right">
								<!-- Botón de cancelar -->
								<a 
									href=""
									class="btn btn-outline-dark" 
									role="button"
								>Cancelar</a>

								<!-- Botón de submit -->
								<button class="btn btn-dark" type="submit">Guardar</button>
								</div>
						</div>   
							</form>   	
					</div>
					</div>   		   	
			</div>	  	
			<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h5>Lista de encuestas</h5>
					</div>
					<div class="card-body">
						<table class="table text-center table-striped">
							<thead>
								<tr>
									<th>Código</th>
									<th>Nombre</th>
									<th>Descripción</th>
									<th>Fecha de creación</th>
									<th>Estado</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>001</td>
									<td>EHPM-2020</td>
									<td>Encuesta para la DIGESTYC 2020</td>
									<td>10/10/2020</td>
									<td>Habilitada</td>
									<td>
										<a
											class="btn btn-outline-dark"
											data-toggle="tooltip"
											data-placement="bottom"
											title="Editar encuesta"
										><i class="fas fa-edit"></i></a>
										<a
											class="btn btn-outline-dark"
											data-toggle="tooltip"
											data-placement="bottom"
											title="Eliminar encuesta"
										><i class="fas fa-trash-alt"></i></a>										
									</td> 			 							
								</tr>
							</tbody>	 				
						</table>
					</div>
					<div class="card-footer">
					</div>
				</div>
			</div>
			</div>
		</div>	 
	</div> 		 	
	
	<!-- Scripts generales -->
  <div th:replace="base/general :: scripts"></div>
</body>
</html>