<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>  
  <title>Administrar Grupos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Hojas de estilo generales -->
  <div th:replace="base/general :: hojas_de_estilo"></div>
</head>

<body>
  <!-- Barra_de_navegación -->
  <div th:replace="base/general :: navbar(~{ :: .elementos})">
    <ul class="navbar-nav mr-auto elementos">
      <!-- <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabla.html">Tabla</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="formulario.html">Formulario</a>
      </li> -->
    </ul>
  </div>

  <!-- Contenido_de_la_página -->
  <div class="container">

    <!-- Ruta del contendio -->
    <ol th:replace="base/general :: ruta_contenido(
      ruta=~{ :: .ruta}, ruta2=~{ :: .ruta2})">
        <!-- Ruta de la página -->              
    	<div class="ruta">Grupos</div>
		<div class="ruta2"></div>	
    </ol>

    <!-- Título de la pantalla -->
    <div th:replace="base/general :: titulo_pantalla(
      titulo=~{ :: .titulo}, btnPrincipal=~{ :: .btnPrincipal}, subTit=~{ :: .subTit}
    )">
      <h2 class="titulo">Administrar Grupos</h2>
      <a
        th:href="@{/grupo/crear}"
        class="btn btn-dark btn-sm btnPrincipal"
      ><i class="fas fa-plus"></i> Nuevo Grupo</a>
   
      <h5 class="subTit">Coordinación de Levantamiento de Información</h5>
    </div>
    <!-- Mensajes -->
	<div class="alert alert-success alert-dismissable" th:if="${success !=null}">
		<label th:text="${success}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Lista de Grupos </h5>
          </div> 
          
          <div class="card-body">
            
            <!-- Búsqueda -->
            <div class="row justify-content-end mb-4">
              <div class="col-md-4">
                <input type="text" placeholder="Buscar" class="form-control d-inline">
              </div>
            </div>
            
            <!-- Tabla de grupos -->
            <table class="table text-center table-striped">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Zona de Operacion</th>
                  <th>Miembros</th>
                  <th>Acciones</th>   
                </tr>
              </thead>
        
              <tbody>
                <tr th:each= "lista:${mostrarGrupo}">
                  <td th:text=${lista.codigoGrupos}></td>
                  <td th:text=${lista.nombreGrupos}></td>
                  <td th:text=${lista.zonaDeOperacionGrupos}></td>
                  <td>
                    <a
                      th:href="@{/grupo/miembros/administrar}"
                      class="btn btn-outline-dark"
                      role="button"
                      aria-pressed="true"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Administrar miembros"
                    ><i class="fas fa-users"></i></a>
                  </td>
                  <td>                         
                    <a
                      th:href="@{/grupo/editar/{id} (id=${lista.id})}"
                      class="btn btn-outline-dark"
                      role="button"
                      aria-pressed="true"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Editar grupo"
                    ><i class="fas fa-edit"></i></a>
                    <button class="btn btn-outline-dark"
                       id="btnEliminar" 
                       th:attr="onclick=|eliminarGrupos('${lista.id}' )|" 
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       title="Eliminar miembro"> 
                       <i class="fas fa-trash-alt"></i></button>           
                  </td>                            
                </tr>
              </tbody>
            </table>
          </div> 
          <!-- Fin card body -->
                    
          <!-- Paginación -->
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  
  <!-- Scripts generales -->
  <div th:replace="base/general :: scripts"></div>
   <script th:src="@{/js/grupos/grupos.js}" type="text/javascript"></script> 
</body>
</html>