<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar Miembros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Hojas de estilo generales -->
    <div th:replace="base/general :: hojas_de_estilo"></div>
</head>

<body>
    <!-- Barra_de_navegación -->
    <div th:replace="base/general :: navbar(~{ :: .elementos})">
        <ul class="navbar-nav mr-auto elementos">
            <!-- <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabla.html">Tabla</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="formulario.html">Formulario</a>
      </li> -->
        </ul>
    </div>
    <div class="container">

<!-- Ruta del contendio -->
    <ol th:replace="base/general :: ruta_contenido(
      ruta=~{ :: .ruta}, ruta2=~{ :: .ruta2})">
        <!-- Ruta de la página -->              
    	<div class="ruta">
       <a th:href="@{/miembros/administrar}">Miembros</a>
       </div>
		<div class="ruta2">Editar</div>	
    </ol>

        <!-- Título de la pantalla -->
        <div th:replace="base/general :: titulo_pantalla(titulo=~{ :: .titulo}, btnPrincipal=~{ :: .btnPrincipal}, subTit=~{ :: .subTit})">
            <h2 class="titulo">Editar Miembro</h2>
            <div class="btnPrincipal"></div>
            <h5 class="subTit"></h5>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <h5>Informacion del Miembro</h5>
                        <small class="text-danger">* Obligatorio</small>
                    </div>
                    <div class="card-body">
                        <form id="formMiembros" th:action="@{/miembros/save}" th:object="${miembros}" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="codigo">Codigo: <span class="text-danger">*</span></label><br>
                                    <input type="hidden" th:field="*{id}">
                                    <input type="text" class="form-control" id="codigo" placeholder="Código" name="codigo" th:field="*{codigoMiembros}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="correo">Correo electronico:<span class="text-danger">*</span></label><br>
                                    <input type="text" class="form-control" placeholder="ejemplo@gmail.com" id="correo" name="correo" th:field="*{correoMiembros}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="codigo">Nombre: <span class="text-danger">*</span></label><br>
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" th:field="*{nombreMiembros}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="correo">Apellido:<span class="text-danger">*</span></label><br>
                                    <input type="text" class="form-control" placeholder="Apellido" id="apellido" name="apellido" th:field="*{apellidoMiembros}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="correo">Dui:<span class="text-danger">*</span></label><br>
                                    <input type="text" class="form-control" placeholder="99999999-9" id="dui" name="dui" th:field="*{duiMiembros}">
                                </div>                                
                            </div>
                    </div>                    
                    <div class="card-footer text-muted">
                        <div class="float-right">
                            <a th:href="@{/miembros/administrar}" type="button" class="btn btn-outline-dark">
                        Cancelar</a>
                    		<button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
   <!-- Scripts generales -->
    <div th:replace="base/general :: scripts"></div>         
</body>
</html>